@model IEnumerable<UtahValleyUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>About the pages creator</h2>

<p>Brighton Grow</p>
<p>BS. Computer Information Technology</p>
<p>Brightongrow@gmail.com</p>
