@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Utah Valley University</h1>
    <div class="image-container">
        <img class="image img-fluid" src="~/images/homepagebannerlarge.jpg" alt="UVU" />

    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Utah Valley University</h2>
        <p>
			Utah Valley University is a university based in Orem, Utah. It is a public university that offers a wide range of undergraduate and graduate programs. The university is known for its strong emphasis on teaching and research.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Register for classes, Manage instructors, and lots more.</h2>
        <p>Follow the links in the navigation bar to make your changes to the database.</p>
    </div>
    <div class="col-md-4">
        <h2>View our student view main website</h2>
        <p>Click the link to be transfered to the main public Utah Valley University page.</p>
        <p><a class="btn btn-default" href="https://www.uvu.edu/">Let's Go! &raquo;</a></p>
    </div>
</div>