@page
@model MegaDesk_Razor_Pages.Pages.IndexModel

<h1>Welcome to MegaDesk</h1>

<p><a href="/AddQuote" class="btn btn-secondary">Add New Quote</a></p>
<p><a href="/ViewQuotes" class="btn btn-secondary">View Quotes</a></p>
<p><a href="/SearchQuote" class="btn btn-secondary">Search Quotes</a></p>
